development:
  dialect: postgres
  database: dashboard
  user: avnadmin
  password: AVNS__o7qCttikmfMMABdM7J
  host: pg-slaash-slaash-01.aivencloud.com
  pool: 5

test:
  url: {{envOr "TEST_DATABASE_URL" "postgres://avnadmin:AVNS__o7qCttikmfMMABdM7J@pg-slaash-slaash-01.aivencloud.com:19236/defaultdb?sslmode=require"}}

production:
  url: {{envOr "DATABASE_URL" "postgres://avnadmin:AVNS__o7qCttikmfMMABdM7J@pg-slaash-slaash-01.aivencloud.com:19236/dashboard?sslmode=require"}}